<!-- No TOC Menu Navigation Here -->
<!--
<ul class="nav navbar-nav">
    <li{{#is basename "articles-index"}} class="active"{{/is}}>
        <a href="articles-index.html">Index</a>
        <span class="divider"></span>
        <ul class="nav navbar-nav">
            <li{{#is basename "articles-index"}} class="active"{{/is}}><a href="articles-index.html">Index</a></li>
            <li{{#is basename "test-article"}} class="active"{{/is}}><a href="test-article.html">Test</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>
    <li{{#is basename "test-article"}} class="active"{{/is}}><a href="test-article.html">Test</a></li>
    <li{{#is basename "xcvxc"}} class="active"{{/is}}><a href="#">Menu Item 1</a></li>
    <li><a href="#">Menu Item 2</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="articles-index.html">Index</a></li>
            <li><a href="test-article.html">Test</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>
    <li><a href="#">Menu Item 4</a></li>
    <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
</ul>
-->