---
title: Mentions Légales
layout: layout-default-with-title
lang: fr
---
<!-- LegalNotice Content Section -->
<section class="section-white-shadow">
    <div class="container">
        
        {{> partial-legal-intro }}
        
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="section">Propriétaire, Conception et Réalisation</h4>
                <p>
                    Microsfair <small>SAS</small>
                    <br/>
                    RCS Pontoise – En cours...
                    <br/>
                    Siège social : En cours...
                    <br/>
                    Directeur de publication : En cours...
                </p>
                <p>Contributeurs : </p>
                <ul>
                    <li>Jaafar BENNANI-SMIRES : Microfair : Manageur, Developpeur</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="section">Hébergement</h4>
                <p>
                    OVH <small>SAS</small>
                    <br/>
                    RCS Lille Métropole – 424 761 419 00045
                    <br/>
                    Siège social : 2 rue Kellermann – 59100 – Roubaix - FRANCE
                    <br/>
                    Directeur de la publication : Octave KLABA
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="section">Licences</h4>
                <p>
                    L'ensemble de ce site relève des législations française et internationale sur le droit d'auteur et de la propriété intellectuelle.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="{{assets}}/img/default/licenses/cc.png" width="88" height="31"/></a>
            </div>
            <div class="col-sm-6">
                <p>
                    Les contenus textuels, photographiques, shématiques et iconographiques sont sous Licence Creative Commons Attribution 4.0 International et doivent être référencés, en cas d'utilisation, selon les règles de la licence.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0"><img alt="Apache Licence 2.0" style="border-width:0" src="{{assets}}/img/default/licenses/apache.png" width="100" height="28"/></a>
            </div>
            <div class="col-sm-6">
                <p>
                    Les autres contenus techniques sont sous Licence Apache 2.0 et doivent être référencés, en cas d'utilisation, selon les règles de la licence.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>
                    Nous utilisons des éléments libres (modifiés ou non, en respect de leurs accords de licence respectifs) provenant des sites suivants : 
                </p>
                <ul>
                    <li><a href="http://www.freepik.com">http://www.freepik.com</a> : <a href="http://www.freepik.com">designed by Freepik.com</a> : <a href="http://www.freepik.com/terms_of_use">Conditions d'utilisation</a></li>
                    <li><a href="http://www.flaticon.com">http://www.flaticon.com</a> : <a href="http://www.flaticon.com">designed by FlatIcon.com</a> : <a href="http://www.flaticon.com/terms-of-use/">Conditions d'utilisation</a></li>
                </ul>
                <p>
                    Enfin, nous utilisons de nombreuses librairies techniques libres, référencées uniquement dans le code source.
                </p>
            </div>
        </div>
    </div>
</section>
