---
title: Legal Notice
layout: layout-default-with-title
---
<!-- LegalNotice Content Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                
{{md  './pages/markdown/legal-notice-en.md' }}

            </div>
        </div>
    </div>
</section>

<!-- LegalNotice Content Section -->
<section class="section-white-shadow">
    <div class="container">

        {{> partial-legal-intro }}

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="section">Owner, Design and Implementation</h4>
                <p>
                    Microsfair <small>SAS</small>
                    <br/>
                    Companies Register : FRANCE RCS Pontoise – Ongoing...
                    <br/>
                    Head Office : Ongoing...
                    <br/>
                    Publishing Director : Ongoing...
                </p>
                <p>Contributors : </p>
                <ul>
                    <li>Jaafar BENNANI-SMIRES : Microfair : Manager, Developper</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="section">Hosting</h4>
                <p>
                    OVH <small>SAS</small>
                    <br/>
                    Companies Register : FRANCE RCS Lille Métropole – 424 761 419 00045
                    <br/>
                    Head Office : 2 rue Kellermann – 59100 – Roubaix - FRANCE
                    <br/>
                    Publishing Director : Octave KLABA
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="section">Licenses</h4>
                <p>
                    The entire site is subject to French and international legislation on copyright and intellectual property.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="{{assets}}/img/default/licenses/cc.png" width="88" height="31"/></a>
            </div>
            <div class="col-sm-6">
                <p>
                    The texts, photos, schemas and iconographics contents are under Creative Commons Attribution 4.0 International license and must be referenced, when used, according to the rules of the license.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0"><img alt="Apache Licence 2.0" style="border-width:0" src="{{assets}}/img/default/licenses/apache.png" width="100" height="28"/></a>
            </div>
            <div class="col-sm-6">
                <p>
                    Other technical contents are under Apache 2.0 license and must be referenced, when used, according to the rules of the license.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>
                    We use free graphical elements (modified or not, in respect of their respective license agreements) from the following websites :
                </p>
                <ul>
                    <li><a href="http://www.freepik.com">http://www.freepik.com</a> : <a href="http://www.freepik.com">designed by Freepik.com</a> : <a href="http://www.freepik.com/terms_of_use">Terms of Use</a></li>
                    <li><a href="http://www.flaticon.com">http://www.flaticon.com</a> : <a href="http://www.flaticon.com">designed by FlatIcon.com</a> : <a href="http://www.flaticon.com/terms-of-use/">Terms of Use</a></li>
                </ul>
                <p>
                    Finally, we use many free technical libraries, referenced only in the source code.
                </p>
            </div>
        </div>
    </div>
</section>
