---
title: Sample D3JS Buble Graph
footerJavascripts:
- lib/d3/d3.js
- js/specifics/misf-d3js-animation.js
---
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="{{assets}}/img/empty_circle.png" alt="">-->
                <div id="svgContainerWrapper" style="margin: 0 auto; overflow:hidden;">
                    <div id="svgContainer" style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; width: 640px; position: relative; left: 50%; margin-left : -320px;"></div>
                </div>
                <div class="intro-text">
                    <span class="name">Micro-Collaboration &amp; Communautés d'Intérêts</span>
                    <span class="skills">Confiance, Performance et Simplicité pour développer vos activités</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- D3 visualization library with the light version - After Main because it uses __local var -->
