---
title: Test SendMail
layout: layout-default-with-title
footerJavascripts:
- lib/jqBootstrapValidation/jqBootstrapValidation-1.3.7.min.js
- js/specifics/mod-sendmail-contact.js
---
<!-- ContactUs Graph Section -->
<section class="section-grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><strong>Do not hesitate to contact us, we will answer you as soon as possible.</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- ContactUs Content Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{> partial-sendmail-contact-en }}
            </div>
        </div>
    </div>
</section>
