/* Override this file in sub projects to set some specific styles */

header {
    background-color: #053;
    color: #FFF;
}

h1.section, h2.section, h3.section, h4.section, h5.section, h6.section {
    color: #FFF;
    background-color: #053;
}

h1.section, h2.section {
    border-color: #053;
}
