---
layout: layout-default
---
<!-- Page Title Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section"><a id="PageTitle" class="anchor">&nbsp;</a>{{ title }}</h2>
            </div>
        </div>
    </div>
</section>

{{ body }}
