<nav class="navbar navbar-default navbar-fixed-top navbar-top-panel">
    <div class="container">
        <div class="navbar-header page-scroll">
            <!-- Top Nav Buttons-->
            <button type="button" class="navbar-toggle top-navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="twj twj-fw twj-fa-navicon"></span>
            </button>
            <!-- Top Menu Buttons-->
            <!--
            <button type="button" class="navbar-toggle collapsed menu-navbar-toggle" data-toggle="collapse" data-target="#menu-navbar">
                <span class="sr-only">Toggle Sitemap</span>
                <span class="twj fa-fw twj-fa-sitemap"></span>
            </button>
            -->
            <!-- Inner Shortcuts Buttons-->
            <button type="button" class="navbar-toggle collapsed toc-navbar-toggle" data-toggle="collapse" data-target="#toc-navbar">
                <span class="sr-only">Toggle Shortcuts</span>
                <span class="twj twj-fw twj-fa-bookmark"></span>
            </button>
            <a class="navbar-brand" href="./index.html"><img class="navbar-logo-img" src="{{assets}}/img/logo-big.png" alt="{{configSite.name}}" height="100%"/></a>
        </div>
        <!-- TOP Navigation Content -->
        {{> partial-nav-top-content }}
    </div>
</nav>
