<!-- To configure the contact form email address, go to scripts/sendmai-contact-us.php and update the email address in the PHP file on line 19. -->
<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
<form name="sentMessage" id="contactForm" novalidate="novalidate">
    <input type="hidden" class="form-control" id="context" value="{{configSite.name}}"/>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Nom</label>
            <input type="text" class="form-control" placeholder="Nom" id="name" required data-validation-required-message="Merci de renseigner votre Nom complet.">
                <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Adresse E-mail</label>
            <input type="email" class="form-control" placeholder="Adresse E-mail" id="email" required data-validation-required-message="Merci de renseigner votre E-mail.">
                <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Numéro de Téléphone</label>
            <input type="tel" class="form-control" placeholder="Numéro de Téléphone" id="phone" required data-validation-required-message="Merci de renseigner votre Numéro de Téléphone.">
                <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Message</label>
            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Merci de renseigner votre Message."></textarea>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-success"><span class="twj twj-fw twj-gi-send"></span> Envoyer</button>
        </div>
    </div>
</form>
