<!-- Specific Legal Information -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4 class="section">Open-source project Context</h4>
        <p>
            The tawja project is open-source and therefore is the result of many interactions.
        </p>
        <p>
            The Microsfair company is leading the project, and uses the means at its disposal to :
        </p>
        <ul>
            <li>Manage the project.</li>
            <li>Prevent any breaches of the rules (abuse, compliance with licenses, ...).</li>
            <li>Provide the technical infrastructure for the project.</li>
        </ul>
        <p>
            Under no circumstances, Microsfair company can be liable beyond the limits of open-source licenses used.
        </p>
    </div>
</div>
