<div class="container">
    <div class="row">
        <div class="footer-col col-md-4">
            <h3 class="section">Contact</h3>
            <p class="white">
                <span class="twj twj-fw twj-gi-envelope"></span> 
                <script>document.write('<' + 'a' + ' ' + 'h' + 'r' + 'e' + 'f' + '=' + "'" + 'm' + 'a' + 'i' + 'l' + '&' + '#' + '1' + '1' + '6' + ';' + 'o' + '&' + '#' + '5' + '8' + ';' +
                            'c' + 'o' + 'n' + 't' + 'a' + 'c' + 't' + '&' + '#' + '6' + '4' + ';' + 't' + 'a' + 'w' + '&' + '#' + '1' + '0' + '6' + ';' + 'a' + '%' + '&' + '#' +
                            '5' + '0' + ';' + '&' + '#' + '6' + '9' + ';' + 'o' + 'r' + 'g' + "'" + '>' + '&' + '#' + '9' + '9' + ';' + '&' + '#' + '1' + '1' + '1' + ';' + 'n' +
                            't' + 'a' + 'c' + 't' + '&' + '#' + '6' + '4' + ';' + '&' + '#' + '1' + '1' + '6' + ';' + '&' + '#' + '9' + '7' + ';' + 'w' + 'j' + 'a' + '&' + '#' +
                            '4' + '6' + ';' + 'o' + 'r' + 'g' + '<' + '/' + 'a' + '>');</script><noscript>[Activate JavaScript to see the e-mail address]</noscript>
            </p>
        </div>
        <div class="footer-col col-md-4">
            <h3 class="section">Around the Web</h3>
            <ul class="list-inline">
                <li>
                    <a href="http://github.com/tawja" class="btn-social btn-outline"><i class="twj twj-fw twj-fa-github"></i></a>
                </li>
            </ul>
            <p class="small">
                <a href="http://www.microsfair.com">
                    <img class="print_none" src="{{assets}}/img/default/logos/twj-misf-logo-white.png" alt="Microsfair" width="95" height="25" />
                    <img class="print_only" src="{{assets}}/img/default/logos/twj-misf-logo.png" alt="Microsfair"  width="95" height="25" />
                </a>
            </p>
			<p class="small" style="color:#666">
				{{mavenProperties.version}}
			</p>
		</div>
        <div class="footer-col col-md-4">
            <h3 class="section">About</h3>
            <p>
                Tawja is the Open-Source project related to Microsfair Platform
                <br/>
                Hosting : OVH <small>SAS</small>
            </p>
            <p>
                <!-- Legal Notice  -->
                <a href="legal-notice-en.html" class="btn btn-sm btn-default">
                    Notice
                </a>
            </p>
        </div>
    </div>
</div>
